@charset "UTF-8";

/* setting */
@import url(./src/css/base/reset.css);
@import url(./src/css/base/font.css);
@import url(./src/css/base/vars.css);

@import url(./src/css/pages/header.css);
@import url(./src/css/pages/intro.css);
@import url(./src/css/pages/project.css);
@import url(./src/css/pages/work.css);
@import url(./src/css/pages/uxui.css);
@import url(./src/css/pages/about.css);
@import url(./src/css/pages/footer.css);

section{
    height: 100vh;
    border: 1px solid #000;
    position: relative;
}

section::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(/src/assets/images/light-bg.png) no-repeat center center;
    background-size: cover;
}
