#intro {
  background: linear-gradient(to bottom, #0F9FE8, #056DAC);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#intro .jellyfish_first {
  position: absolute;
  left: 20%;
  top: 15%;
}
#intro h2 {
  font-size: 100px;
  position: relative;
  margin-bottom: 100px;
  font-style: italic;
  font-weight: 700;
}
#intro h2::after {
  content: "";
  width: 2px;
  height: 50px;
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}
#intro p {
  font-size: 28px;
  line-height: 1.3;
}
#intro p em {
  font-size: 34px;
}